{{ define "mobile_library_home" }}{{ template "library_home" . }}{{ end }}
{{ define "mobile_library_furniture_edit" }}{{ template "library_furniture_edit" . }}{{ end }}
{{ define "mobile_library_grid" }}{{ template "library_grid" . }}{{ end }}
{{ define "mobile_library_unassigned" }}{{ template "library_unassigned" . }}{{ end }}
