{{ define "library_topbar" }}
<header class="topbar">
    <div class="container nav-layout">
        {{ template "site_brand_dashboard" . }}
        <nav class="nav-links">
            <a href="/library/">{{ t .T "library.nav.home" }}</a>
            <a href="/library/unassigned">{{ t .T "library.nav.unassigned" }}</a>
            <a href="/">{{ t .T "hub.nav.back" }}</a>
            {{ template "nav_settings_dropdown" . }}
        </nav>
    </div>
</header>
{{ end }}
