{{ define "manga_phys_topbar" }}
<header class="topbar">
    <div class="container nav-layout">
        {{ template "site_brand_dashboard" . }}
        <nav class="nav-links">
            <a href="/manga-phys/dashboard">{{ t .T "manga_phys.nav.dashboard" }}</a>
            <a href="/">{{ t .T "hub.nav.back" }}</a>
            {{ template "nav_settings_dropdown" . }}
        </nav>
    </div>
</header>
{{ end }}
